# Clock and LED
NET "clk50mhz" LOC="P55" | IOSTANDARD = LVCMOS33;
NET "testled" LOC="P11" | IOSTANDARD = LVCMOS33;
NET "clk50mhz" PERIOD=20 ns;

# i8088 signals (ZXUNO expansion connector)
NET "ad<0>" LOC="P12" | IOSTANDARD = LVTTL;
NET "ad<1>" LOC="P15" | IOSTANDARD = LVTTL;
NET "ad<2>" LOC="P17" | IOSTANDARD = LVTTL;
NET "ad<3>" LOC="P16" | IOSTANDARD = LVTTL;
NET "ad<4>" LOC="P21" | IOSTANDARD = LVTTL;
NET "ad<5>" LOC="P23" | IOSTANDARD = LVTTL;
NET "ad<6>" LOC="P22" | IOSTANDARD = LVTTL;
NET "ad<7>" LOC="P24" | IOSTANDARD = LVTTL;
NET "a<8>"  LOC="P27" | IOSTANDARD = LVTTL;
NET "a<9>"  LOC="P26" | IOSTANDARD = LVTTL;
NET "a<10>"  LOC="P29" | IOSTANDARD = LVTTL;
NET "a<11>"  LOC="P32" | IOSTANDARD = LVTTL;
NET "a<12>"  LOC="P30" | IOSTANDARD = LVTTL;
NET "a<13>"  LOC="P33" | IOSTANDARD = LVTTL;
NET "a<14>"  LOC="P35" | IOSTANDARD = LVTTL;
NET "a<15>"  LOC="P34" | IOSTANDARD = LVTTL;
NET "a<16>"  LOC="P40" | IOSTANDARD = LVTTL;
NET "a<17>"  LOC="P43" | IOSTANDARD = LVTTL;
NET "a<18>"  LOC="P41" | IOSTANDARD = LVTTL;
NET "a<19>"  LOC="P44" | IOSTANDARD = LVTTL;
NET "clkcpu"  LOC="P14" | IOSTANDARD = LVTTL;
NET "rst"  LOC="P56" | IOSTANDARD = LVTTL;
NET "ale"  LOC="P51" | IOSTANDARD = LVTTL;
NET "den_n"  LOC="P48" | IOSTANDARD = LVTTL;
NET "io_m_n"  LOC="P47" | IOSTANDARD = LVTTL;
NET "rd_n"  LOC="P46" | IOSTANDARD = LVTTL;
NET "wr_n"  LOC="P45" | IOSTANDARD = LVTTL;
NET "dt_r_n"  LOC="P50" | IOSTANDARD = LVTTL;
NET "ss0"  LOC="P58" | IOSTANDARD = LVTTL;
NET "intr"  LOC="P57" | IOSTANDARD = LVTTL;
